.profile-container, .profile-container--mobile {
  padding: 32px 64px; }
  .profile-container .profile-sheet, .profile-container--mobile .profile-sheet {
    border-radius: 8px;
    background-color: white; }
    .profile-container .profile-sheet .profile-sheet-content, .profile-container--mobile .profile-sheet .profile-sheet-content {
      padding: 16px; }
      .profile-container .profile-sheet .profile-sheet-content > div, .profile-container--mobile .profile-sheet .profile-sheet-content > div {
        margin-bottom: 16px; }
      .profile-container .profile-sheet .profile-sheet-content .profile-picture, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-picture {
        height: 150px;
        width: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%; }
      .profile-container .profile-sheet .profile-sheet-content .profile-name, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-name {
        margin-bottom: 0; }
      .profile-container .profile-sheet .profile-sheet-content .profile-info-container, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .profile-container .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box {
          text-align: center;
          margin: 0 16px;
          border: black 0.5px solid;
          border-radius: 8px;
          padding: 16px;
          width: 33%; }
          .profile-container .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box h2, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box h2 {
            margin-bottom: 8px; }
          .profile-container .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box .bullet, .profile-container--mobile .profile-sheet .profile-sheet-content .profile-info-container .profile-info-box .bullet {
            font-size: 40px; }
      .profile-container .profile-sheet .profile-sheet-content .availability-calendar, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day {
          border: black 0.5px solid;
          width: 100%;
          text-align: center; }
          .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day:first-child, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day:first-child {
            border-radius: 8px 0 0 8px; }
            .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day:first-child .title, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day:first-child .title {
              border-radius: 8px 0 0 0; }
          .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day:last-child, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day:last-child {
            border-radius: 0 8px 8px 0; }
            .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day:last-child .title, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day:last-child .title {
              border-radius: 0 8px 0 0; }
          .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day .title, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day .title {
            display: inline-block;
            background-color: #f4f4f4;
            width: 100%;
            font-weight: bold; }
          .profile-container .profile-sheet .profile-sheet-content .availability-calendar .day .time-info, .profile-container--mobile .profile-sheet .profile-sheet-content .availability-calendar .day .time-info {
            display: inline-block;
            padding: 8px; }
  .profile-container .header-bar, .profile-container--mobile .header-bar {
    border-radius: 8px 8px 0 0; }

.profile-container--mobile {
  padding: 8px 16px; }
  .profile-container--mobile .profile-info-container {
    flex-wrap: wrap; }
    .profile-container--mobile .profile-info-container .profile-info-box {
      width: 100% !important;
      margin: 8px 0 !important; }

/*# sourceMappingURL=profile.component.css.map */
