<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && (isLoggedIn$ | async)">
    <mat-toolbar>
      <span>Menu</span>
      <span style="flex: 1 0 auto"><!-- fill --></span>
      <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks" [routerLink]="link.link">
        <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
        <span mat-line>{{ link.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Run Buddies</span>
      <span style="flex: 1 0 auto"><!-- fill --></span>
      <app-login-buttons></app-login-buttons>
    </mat-toolbar>

    <!-- Children -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
