/*
Error: Invalid CSS after "...or(custom-theme": expected ")", was ".$runbuddies-pr..."
        on line 12 of app.component.sass

7:   flex-flow: column
8:   height: 100%
9: 
10:   %page-content-container
11:     flex: 1 1 auto
12:     background-color: lighten(mat-color(custom-theme.$runbuddies-primary), 35%)
13:     margin-top: 56px
14: 
15:   .page-content-container--desktop
16:     @extend %page-content-container
17:     padding: 16px 16px 48px 16px

Backtrace:
app.component.sass:12
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:862:in `assert_tok'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:644:in `funcall'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `equals'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:695:in `block in arglist'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:904:in `without_stop_at'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:691:in `arglist'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:683:in `fn_arglist'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:643:in `funcall'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:343:in `expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:853:in `assert_expr'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:68:in `parse'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script/parser.rb:228:in `parse'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/script.rb:27:in `parse'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:1169:in `parse_script'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:745:in `parse_property'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/lib/ruby/gems/2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...or(custom-theme\": expected \")\", was \".$runbuddies-pr...\"\A         on line 12 of app.component.sass\A \A 7:   flex-flow: column\A 8:   height: 100%\A 9: \A 10:   %page-content-container\A 11:     flex: 1 1 auto\A 12:     background-color: lighten(mat-color(custom-theme.$runbuddies-primary), 35%)\A 13:     margin-top: 56px\A 14: \A 15:   .page-content-container--desktop\A 16:     @extend %page-content-container\A 17:     padding: 16px 16px 48px 16px"; }
