
<div>
  <app-toolbar>
    <span app-toolbar-title>Run Buddies</span>
  </app-toolbar>
  <div style="margin: 16px 16px 0 16px;">
    <app-surface title="Your Buddies" [showAction]="true" actionText="View All">
      <div>
        <p>Hello World</p>
        <button app-button>Hello World</button>
      </div>
    </app-surface>
    <app-surface title="Explore" [showAction]="true" actionText="Explore">
      <div>
        <p>This is where explore would go</p>
        <p>And some other stuff</p>
      </div>
    </app-surface>
  
    <app-card>
      <h2 app-card-title>Title</h2>
      <div app-card-content>
        <p>Content</p>
      </div>
    </app-card>
  </div>
</div>