
<div>
  <rb-surface title="Your Buddies" [showAction]="true" actionText="View All">
    <div>
      <p>Hello World</p>
      <button rb-button-sm>Hello World</button>
    </div>
  </rb-surface>
  <rb-surface title="Explore" [showAction]="true" actionText="Explore">
    <div>
      <p>This is where explore would go</p>
      <p>And some other stuff</p>
    </div>
  </rb-surface>

  <rb-card>
    <h1 rb-card-title>Title</h1>
    <div rb-card-content>
      <p>Content</p>
    </div>
  </rb-card>
</div>