<mat-card matRipple (mouseenter)="hovered = true" (mouseleave)="hovered = false"
          class="user-card mat-elevation-z3" [class.mat-elevation-z8]="hovered">
  <div>
    <img mat-card-image src="{{ pic }}" alt="Profile Picture" />
    <mat-card-header>
      <mat-card-title>Charlie Sale</mat-card-title>
      <mat-card-subtitle>Pace 9:30 mi/min  Intensity MED</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions style="margin-bottom: -16px">
      <button mat-raised-button color="accent" class="schedule-btn">SCHEDULE</button>
    </mat-card-actions>
  </div>
</mat-card>
