
.user-card
  width: 250px
  border-radius: 16px
  margin: 8px

  img
    object-fit: cover
    object-position: center

  .schedule-btn
    width: 100%
    margin-bottom: 0
    border-radius: 16px

.user-card--mobile
  @extend .user-card
  img
    height: 150px

.user-card--mobile-grid
  @extend .user-card--mobile
  width: unset
