<div>
  <mat-chip-list multiple (change)="onChipListChange($event)">
    <mat-chip *ngFor="let day of daysOfWeek"
              [color]="currentDay === day ? 'primary' : 'accent'"
              [value]="day"
              [selected]="dayIsSelected(day)"
              (click)="currentDay = day"
    >{{ day | titlecase }}</mat-chip>
  </mat-chip-list>
  <mat-chip-list multiple>
    <mat-chip *ngFor="let time of timesOfDay; index as idx"
              color="accent"
              [selected]="timeIsSelected(currentDay, idx)"
    >{{ time | titlecase }}</mat-chip>
  </mat-chip-list>
  <div *ngIf="showTimes" style="margin-top: 4px">
    <mat-chip-list>
      <mat-chip *ngFor="let time of getTimesForDay(currentDay)" (click)="timeClicked(time)">{{ time }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
